/* Estilizando elementos HTML usando ID e Classe */
#Titulo {
    color: blue;
    text-align: center;
    font-family: Arial, sans-serif;
}
#Subtitulo {
    color: green;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.Texto {
    color: purple;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
a button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: None;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}